@import '~antd/dist/antd.css';


.basic-container {
  margin: 20px;
}

.swiper-container {
  width: 500px;
  height: 300px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #c9f3ff;
}

.swiper-top-container {
  margin-bottom: 40px;
  .swiper-slide {
    background: #abffae;
  }
}
